* {
    box-sizing: border-box;
}

.checkBtn {
    margin: 2em;
    border: none;
    padding: 1em 2.5em;
    border-radius: 10px;
    background: violet;
    font-size: medium;
    cursor: pointer;
}

.startGameBtn {
    border: none;
    color: red;
}